/*-- scss:defaults --*/
$h2-font-size: 1.6rem !default;
$headings-font-weight: 500 !default;
$line-height-base: 1.2 !default;

//$background: #40323D;
//$background2: #2E1F2D;
//$background: #323640;
//$background2: #1F242E;
$background: #2F2935; // #39343E;
$background2: #26222E;
$background3: #A389A3;
$foreground: #F0BFE7; // #F9B4ED;
$foreground2: #DD2594; // #C52184;

$navbar-bg: $background2;
$navbar-fg: $foreground2;
$body-bg: $background;
$body-color: $foreground;
$link-color: $foreground2;
$input-bg: $background2;
$popover-bg: $background2;
$footer-bg: $background3;

$primary: $foreground;
$secondary: $foreground2;
$tertiary: #E574BC;

/*-- scss:rules --*/

// @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

h1, h2, h3, h4, h5 {
  color: $secondary !important;
  font-family: "Poppins", sans-serif;
}

body {
   font-family: "Work Sans", sans-serif;
}

p {
  font-weight: 300;
}

h3 {
  line-height: 1.1 !important;
}

h4 {
  margin-bottom: 1.2rem !important;
}

h5 {
  color: $tertiary !important;
}

img {
  border-radius: 7px !important;
}

strong {
  color: $foreground2 !important;
  font-weight: 600 !important;
}

strong a {
  color: $foreground2 !important;
  font-weight: 600 !important;
}

.content {
li {
  margin-bottom: 10px !important;
  font-weight: 300;
}
}


//// barra superior
// título del sitio
.navbar-title {
  color: $tertiary;
}

.navbar-brand {
  margin-left: -3px;
}

// hover de elementos de barra superior
.navbar-title:hover, .menu-text:hover, .nav-item:hover, .bi:hover {
  color: $foreground !important;
}

// elemento de barra seleccionado
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: $tertiary; 
}


//// blog
// encabezado
.quarto-title-banner .quarto-title .title {
  font-weight: 900;
}

// título de posts de blog
.listing-title, .listing-title a {
  color: $secondary !important;
  font-weight: 800 !important;
  margin-bottom: 6px !important;
}

// subtítulo de posts del blog
.listing-subtitle a {
  color: $secondary !important;
  font-style: italic;
  font-weight: 400 !important;
  /*opacity: 90%;*/
  line-height: 1 !important;
}

// etiquetas de posts
.listing-category, .quarto-category {
  border-color: #A389A350 !important;
  color: $background3 !important;
  background-color: $background2;
}

// categorias
.category {
  font-size: 80%;
  opacity: 70%;
}

// contenedor de posts en lista
.quarto-post {
  padding-bottom: 1em;
  border-bottom: 2px solid $background2 !important;
}

.listing-description {
  font-size: 90%;
}

.listing-date {
  color: $tertiary;
}

.disabled {
  .page-link {
  background-color: $background3 !important;
  border-color: $background3 !important;
  }
}

// arreglo para que posts sin imagen usen el ancho completo
// ocultar thumbnail cuando post no tiene imagen
.quarto-post .thumbnail:not(:has(img)) {
  display: none;
}
// cuando no hay imagen, el body crece para ocupar el espacio del thumbnail
.quarto-post:not(:has(.thumbnail img)) .body {
  flex-basis: 83%;
}
// ajustar metadata para que sea consistente con los posts con imagen
.quarto-post .metadata {
  flex-basis: 30%;
  max-width: 68px;
  flex-grow: 0;
  flex-shrink: 0;
}



//// inicio
// botones en about.qmd
.about-link {
color: $primary !important;
background-color: $secondary;
border-color: $tertiary !important;
}


//// buscador
.aa-DetachedOverlay {
  background-color: #26222E60;
}

.aa-DetachedContainer {
  box-shadow: none !important;
}

.aa-DetachedFormContainer {
  background-color: #39343e;
  border-bottom: none;
}

.aa-Form {
  border: 1px solid #48424F !important;
}

.search-result-doc {
border-top: 1px solid $background !important;
}

// color de resultado seleccionado (hover)
.aa-DetachedOverlay li.aa-Item[aria-selected=true] .search-item.search-result-more, .aa-DetachedOverlay li.aa-Item[aria-selected=true] .search-item .search-result-section, .aa-DetachedOverlay li.aa-Item[aria-selected=true] .search-item .search-result-text, .aa-DetachedOverlay li.aa-Item[aria-selected=true] .search-item .search-result-title-container, .aa-DetachedOverlay li.aa-Item[aria-selected=true] .search-item .search-result-text-container, #quarto-search-results li.aa-Item[aria-selected=true] .search-item.search-result-more, #quarto-search-results li.aa-Item[aria-selected=true] .search-item .search-result-section, #quarto-search-results li.aa-Item[aria-selected=true] .search-item .search-result-text, #quarto-search-results li.aa-Item[aria-selected=true] .search-item .search-result-title-container, #quarto-search-results li.aa-Item[aria-selected=true] .search-item .search-result-text-container {
  color: $background2 !important;
}



//// contenido

// titulos de posts
.title {
  font-weight: 700 !important;
}

.quarto-title-banner {
  .quarto-category {
    border-color: #A389A350;
    color: $foreground !important;
    background-color: #362F3D !important;
  }
}


// iconos
.fa-solid {
  color: $secondary;
}
.fa-2x {
  margin-right: 6px !important;
  margin-bottom: -2px !important;
  font-size: 1.2em !important;
}

// citas
.blockquote {
  color: $tertiary;
  font-size: 85%;
  border-left: 3px solid $foreground2;
  max-width: 75%;
}

.tabla_ciclismo {
  max-width: 380px;
  font-size: 90%;
  margin-bottom: 20px !important;
  margin: auto;
}

.strava {
  margin-top: 20px;
  margin-bottom: 20px;
}

.instagram {
  margin-top: 20px;
  margin-bottom: 20px;
}

.tiktok {
  background-color: white; 
  border-radius: 5px; 
  width: 80%; padding-top: 16px; padding-bottom: 16px; 
  margin: auto;
  margin-bottom: 20px;
}

.centrar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.galeria {
}

.foto {
  margin: 4px;
  margin-bottom: 8px;
  
  img {
    border: solid 1px $background2;
    max-height: 400px;
  }
}

.fotito {
  max-width: 100px;
  margin: 4px;
  margin-bottom: 8px;
  border: solid 1px $background2;
}

.fotito:hover, .foto:hover {
  filter: brightness(110%);
}

.boton {
  padding: 4px; border-radius: 8px; padding-left: 24px; 
  padding-top: 16px; padding-bottom: 0px;
  color: $primary !important;
  background-color: $secondary;
  border: solid 1px $tertiary !important;
  margin-top: 24px; margin-bottom: 24px;
  
  .fa-solid {
    color: white !important;
  }
  p a {
    text-decoration: none; color: #FDF4F8;
  }
}

.boton:hover {
  filter: brightness(110%);
}


.brevet_200 {
  background-color: #F2DE2C;
  color: $background2;
  opacity: 90%;
  border-radius: 5px;
  padding: 4px 8px;
  font-weight: 500;
}

.brevet_300 {
  background-color: #7FBF0C;
  color: $background2;
  opacity: 90%;
  border-radius: 5px;
  padding: 4px 8px;
  font-weight: 500;
}

.brevet_400 {
  background-color: #A824C8;
  color: $background2;
  opacity: 90%;
  border-radius: 5px;
  padding: 4px 8px;
  font-weight: 500;
}



// para cuadrículas de libros
.cuadricula {
  display: grid;
  grid-template-columns: repeat(auto-fill, 120px); 
  grid-gap: 20px; 
  width: 90%;
  margin: auto;
  justify-content: space-between;
  white-space: wrap;
}

.contenedor_libro {
  align-items: center;
  width: 130px !important;
  margin: auto;
  margin-top: 0;
}

.libro_imagen {
  margin: auto;
  text-align: center;
  margin-bottom: 12px;
  border-radius: 3px;
  opacity: 90%;
  
  img {
      height: 170px;
      border-radius: 3px;
      border: solid 1px #433B4A;
  }
}

.libro:hover {
  filter: brightness(110%);
}

.libro_titulo {
  margin: auto;
  text-align: center;
  margin-bottom: 4px;
  font-weight: bold; 
  color: $foreground2;
  text-decoration: none !important;
  font-size: 90%;
  line-height: 1;
  margin-top: -4px;
}

.libro_autor {
  margin: auto;
  text-align: center;
  text-decoration: none !important;
  font-size: 78%;
}

.estrella {
  font-size: 14px;
  margin: 1px;
}

.estrellas {
  display: inline-flex;
}

.libro_rating {
  margin: auto;
  text-align: center;
}

.libro_paginas {
  margin: auto;
  text-align: center;
  opacity: 50%;
  font-size: 65%;
  margin-top: 1px;
}